{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load myutils %}
{% block head %}
    <script src="{% static 'js/dropzone.js' %}"></script>
    <link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet">
    <style>
        .dropzone {

            background-color: #efefef;
            border: 0px;
        }
    </style>
{% endblock %}
{% block content %}
    <h1 class="page-header">{{ page_title }}</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Documents Artifacts' %}</div>
                <div class="panel-body">
                <form action="#"
                      class="dropzone"
                      method="post"
                      action="#"
                      id="artifact" enctype="multipart/form-data">
                    {% csrf_token %}
                </form>
                <div class="row" align="center" style="padding: 10px;">
                     <button id="submit-all" class="btn btn-primary start"><i class="glyphicon glyphicon-upload"></i> Submit all files</button>
                </div>
                </div>
             </div>
        </div>
        <div class="col-md-4">
             <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Source Code Artifacts' %}</div>
                <div class="panel-body">
                        <p>{% trans 'Type:' %}<br/> Git</p>
                        <p>{% trans 'Remote Repository:' %}<br/>Teste</p>
                        <p>{% trans 'Local Repository:' %}<BR/>Teste</p><BR/>
                      <button  class="btn btn-warning start"><i class="fa fa-github-square"></i> {% trans 'Trace Source Code' %}</button>
                </div>
             </div>
        </div>
    </div>

<!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
<div  class="files" id="previews">

  <div id="template">
      <div class="dz-preview dz-file-preview col-md-3" style="background-color: #dedede; padding: 10px">
    <div class="dz-image"><img data-dz-thumbnail /></div>
    <div class="dz-details">
        <div class="dz-size"><span data-dz-size></span></div>
        <div class="dz-filename"><span data-dz-name></span></div>
    </div>
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
    <div class="dz-error-message"><span data-dz-errormessage></span></div>

      {% trans 'Type' %}: <select id="type" >
          {% for row in artifacttype %}
              <option value="{{ row.id }}">{{ row.name }}</option>
           {% endfor %}
      </select>

</div>
  </div>

</div>

    <script>

        var previewNode = document.querySelector("#template");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        var myDropzone = new Dropzone("#artifact",{
            autoProcessQueue: false,
            //previewTemplate:  previewTemplate,
            parallelUploads: 10,

            init: function(){
                this.on('sending', function(file, xhr, formData) {
                     formData.append('type',file._captionBox.value);
                })

                this.on('addedfile', function(file) {
                    file._captionLabel = Dropzone.createElement("{% trans 'Type' %}")
                    file._captionBox = Dropzone.createElement("<select id='type"+file.name+"' >{% for row in artifacttype %}+<option value='{{ row.id }}'>{{ row.name }}</option>{% endfor %}</select>")

                    file.previewElement.appendChild(file._captionLabel);
                    file.previewElement.appendChild(file._captionBox);

                });

                this.on("success", function(files, response) {
                    location.reload();
                });
            }

        });



        $('#submit-all').click(function(){
            myDropzone.processQueue();
        });

    </script>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>{% trans 'Artifacts' %}</div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{% trans 'Level' %}</th>
                            <th>{% trans 'Type' %}</th>
                            <th>{% trans 'File' %}</th>
                            <th>{% trans 'Action' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in artifact %}
                            <tr>
                                <td>{{ row.type.get_level_display }}</td>
                                <td>{{ row.type.name }}</td>
                                <td><a href="{% url 'main:artifact-download' row.id %}">{{ row.file }}</a></td>
                                <td><a href="{{ row.id }}/delete/" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i> Delete</a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">{% trans 'No data' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}