{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load myutils %}
{% block content %}
    <style>
    .table > thead > tr > th {
        vertical-align: middle;
    }
    .centro {
        text-align: center;
    }
    </style>
     <div class="row">
        <div class="col-md-12">

                <h1 class="page-header">{% trans 'Artifacts' %}</h1>

                    <div class="row">
                     <div class="col-md-9">
                         <a href="add-document/" class="btn btn-primary "><i class="glyphicon glyphicon-file"></i> Add Document</a>
                         <a href="add-activity/" class="btn btn-success "><i class="glyphicon glyphicon-th-list"></i> Add Activity</a>
                     </div>

                    </div>

                    <div class="row">
                        <br>
                    <ul class="nav nav-tabs">
                        <li  class="active"><a href="#document" data-toggle="tab" aria-expanded="true">{% trans 'Documents' %}</a></li>

                        <li><a href="#source" data-toggle="tab" aria-expanded="false">{% trans 'Source' %}</a></li>

                        <li><a href="#activity" data-toggle="tab" aria-expanded="false">{% trans 'Activity' %}</a></li>

                    </ul>
                    </div>
                    </div>

                    <div CLASS="tab-content">
                        <div class="tab-pane active" id="document" ><br/>


                            <table class="table table-hover" id="myList">
                                <thead>
                                <tr>
                                    <th colspan="3"><h3>{% trans 'Documents' %}</h3></th>
                                </tr>
                                <tr>
                                    <th>{% trans 'Type' %}</th>
                                    <th>{% trans 'File' %}</th>
                                    <th>{% trans 'Action' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in artifact %}
                                    <tr>
                                     {% if row.type.type == 0 %}
                                        <td>{{ row.type.name }}</td>
                                        <td>
                                                <a href="{% url 'main:artifact-download' row.id %}">{{ row.file }}</a>
                                        </td>
                                        <td>

                                                <a href="{{ row.id }}/delete/" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i> Delete</a>

                                        </td>
                                     {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="source">
                            <table class="table table-hover" >
                                <thead>
                                <tr>
                                    <th colspan="2"><h3>{% trans 'Source' %}</h3></th>
                                </tr>
                                <tr>
                                    <th>{% trans 'Type' %}</th>
                                    <th>{% trans 'File' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in artifact %}
                                    <tr>
                                     {% if row.type.type == 1 %}
                                        <td>{{ row.type.name }}</td>
                                        <td>
                                               <a href="{{ row.id }}/codeview/">{{ row.source }}</a>
                                        </td>
                                     {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                         </div>
                        <div class="tab-pane" id="activity">
                            <table class="table table-hover ">
                                <thead>
                                <tr>
                                    <th colspan="9"><h3>{% trans 'Activity' %}</h3></th>
                                </tr>
                                <tr>
                                    <th  rowspan="2" >{% trans 'Type' %}</th>
                                    <th rowspan="2">{% trans 'Title' %}</th>
                                    <th COLSPAN="2">{% trans 'Time' %}</th>
                                    <th COLSPAN="2">{% trans 'Points' %}</th>
                                    <th COLSPAN="2">{% trans 'BV' %}</th>
                                    <th  rowspan="2" class="centro">{% trans 'Action' %}</th>
                                </tr>
                                <tr>
                                    <th>E</th>
                                    <th>G</th>
                                    <th>E</th>
                                    <th>G</th>
                                    <th>E</th>
                                    <th>G</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in artifact %}
                                    <tr>
                                     {% if row.type.type == 2 %}
                                         <td>{{ row.type.name }}</td>
                                         <td>{{ row.title }}</td>
                                         <td>{{ row.estimated_time|default_if_none:'-' }}</td>
                                         <td>{{ row.spent_time|default_if_none:'-' }}</td>
                                         <td>{{ row.estimated_storypoints|default_if_none:'-' }}</td>
                                         <td>{{ row.realized_storypoints|default_if_none:'-' }}</td>
                                         <td>{{ row.estimated_businnesvalue|default_if_none:'-' }}</td>
                                         <td>{{ row.realized_businnesvalue|default_if_none:'-' }}</td>
                                         <td class="centro">
                                            {% if project.tracking_tool_type == 'Redmine' %}
                                                <a href="{{ project.tracking_tool_url }}issues/{{ row.reference }}" target="_blank" class="btn btn-success btn-circle">
                                                    <i class="fa fa-play-circle"></i>
                                                </a>
                                                <a href="{{ row.id }}/delete/" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i> </a>
                                             {% else %}
                                                <a href="{{ row.id }}/update-activity/" class="btn btn-success btn-circle">
                                                    <i class="fa fa-play-circle"></i>
                                                </a>
                                                <a href="{{ row.id }}/delete/" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i> </a>
                                            {% endif %}
                                         </td>
                                     {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}