{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load myutils %}
{% block content %}
    <h1>{% trans 'Bug Tracking Tool Traced !' %}</h1>
    <button type="button" class="btn btn-lg btn-primary btn-block" onclick="javascript:window.history.go(-1)">Voltar</button>
    <h2>{% trans 'Imported Artifacts' %}</h2>
    <p>
    {% for log in artifactImportLogs  %}
        <br/>{{ log }}
    {% endfor %}
    </p>
     <h2>{% trans 'Imported Sprints' %}</h2>
    <p>
    {% for sprintlog in sprintImportLogs  %}
        <br/>{{ sprintlog }}
    {% empty %}
        {% trans 'No sprints' %}
    {% endfor %}
    </p>
    <h2>{% trans 'Imported User Stories' %}</h2>
    <p>
    {% for usLog in userStoryImportLogs %}
        <p>{{ usLog }}</p>
    {% empty %}
        {% trans 'No UserStories' %}
    {% endfor %}
    </p>
{% endblock %}