
{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h1 class="page-header">About Tracepp</h1>
    <div class="col-md-10">
         <div class="row">
            <div class="col-xs-12">
                <p>{% trans 'Version:' %} 1.0.1  (13/07/2017)</p>
                <P>Distributed under the GNU General Public License version 2 or later</P>
                <h2>1.0.1:</h2>
                <p>Cores diferentes para RF e RNF no grafo</p>
                <p>Link para os detalhes da estória de usuario na tela da sprint</p>
            </div>
        </div>
    </div>
{% endblock %}