<!--
#template:US007
-->
{% extends "base.html" %}
{% load i18n %}
{% block head %}
    <script>
        $(document).ready(function () {
            var ctx = document.getElementById('graph_taks_force_per_userstory_json').getContext('2d');
            estimated_time = {% if total_estimated_time.time %}{{ total_estimated_time.time }}{% else %}0{% endif %};
            spent_time = {%  if total_spent_time.time %}{{ total_spent_time.time }}{% else %}0{% endif %}
            if(estimated_time>spent_time){
                maxValue = estimated_time;
            }else{
                maxValue = spent_time;
            }
            var graph_taks_force_per_userstory_json = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['{%  trans 'Estimated' %}','{%  trans 'Spent' %}'],
                    datasets: [{
                        label: ['Tasks Effort (Hours)'],
                        data: [{% if total_estimated_time.time %}{{ total_estimated_time.time }}{% else %}0{% endif %},{%  if total_spent_time.time %}{{ total_spent_time.time }}{% else %}0{% endif %}],
                        backgroundColor: ['rgba(54, 162, 235, 0.2)','rgba(255, 99, 132, 0.2)'],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255,99,132,1)',
                        ],
                        borderWidth: 1,
                        tension: 0,
                        fill: false

                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                suggestedMax: maxValue+2,
                            },
                            id: "1"
                        }]
                    },
                    legend: {
                        display: false
                    },
                    animation: {
                        duration: 1,
                        onComplete: function () {
                            var chartInstance = this.chart,
                                ctx = chartInstance.ctx;
                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = 'rgba(0, 0, 0, 1)';

                            this.data.datasets.forEach(function (dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function (bar, index) {
                                    var data = dataset.data[index];
                                    ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                });
                            });
                        }
                    }

                },
            });


            var ctx = document.getElementById('sp_per_userstory_json').getContext('2d');
            estimated_sp = {{ userstory_storypoints.estimated_storypoints}};
            realized_sp = {{ userstory_storypoints.realized_storypoints }};
            if(estimated_sp > realized_sp){
                maxValue = estimated_sp;
            }else{
                maxValue = realized_sp;
            }
            var sp_per_userstory_json = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['{%  trans 'Planned' %}','{%  trans 'Realized' %}'],
                    datasets: [{
                        label: [''],
                        data: [{{ userstory_storypoints.estimated_storypoints}},{{ userstory_storypoints.realized_storypoints }}],
                        backgroundColor: ['rgba(54, 162, 235, 0.2)','rgba(255, 99, 132, 0.2)'],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255,99,132,1)',
                        ],
                        borderWidth: 1,
                        tension: 0,
                        fill: false

                    }],
                },
                options: {

                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                suggestedMax: maxValue+2,
                            },
                            id: "1"
                        }]
                    },
                    legend: {
                        display: false
                    },
                    animation: {
                        duration: 1,
                        onComplete: function () {
                            var chartInstance = this.chart,
                                ctx = chartInstance.ctx;
                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = 'rgba(0, 0, 0, 1)';

                            this.data.datasets.forEach(function (dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function (bar, index) {
                                    var data = dataset.data[index];
                                    ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                });
                            });
                        }
                    }
                }
            });

            var ctx = document.getElementById('bv_per_userstory_json').getContext('2d');
            estimated_bv = {{ userstory_businnesvalue.estimated_businnesvalue }};
            realized_bv = {{ userstory_businnesvalue.realized_businnesvalue }};
            if(estimated_bv>realized_bv){
                maiorValor=estimated_bv;
            }else{
                maiorValor=realized_bv;
            }
            var bv_per_userstory_json = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['{%  trans 'Planned' %}','{%  trans 'Realized' %}'],
                    datasets: [{
                        label: [''],
                        data: [{{ userstory_businnesvalue.estimated_businnesvalue }},{{ userstory_businnesvalue.realized_businnesvalue }}],
                        backgroundColor: ['rgba(54, 162, 235, 0.2)','rgba(255, 99, 132, 0.2)'],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255,99,132,1)',
                        ],
                        borderWidth: 1,
                        tension: 0,
                        fill: false

                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                suggestedMax: maiorValor+2,
                            },
                            id: "1"
                        }]
                    },
                    legend: {
                        display: false
                    },
                    animation: {
                        duration: 1,
                        onComplete: function () {
                            var chartInstance = this.chart,
                                ctx = chartInstance.ctx;
                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = 'rgba(0, 0, 0, 1)';

                            this.data.datasets.forEach(function (dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function (bar, index) {
                                    var data = dataset.data[index];
                                    ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                });
                            });
                        }
                    }
                }
            });

        });
    </script>
{% endblock %}
{% block content %}
    <h1 class="page-header"><i class="fa fa-stumbleupon-circle fa-1x"></i> {{ userstory.code }} - {{ userstory.title }}</h1>

    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-code fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ total_artifacts }}</div>
                            <div>{% trans 'Artifacts' %}</div>
                        </div>
                    </div>
                </div>
                <a href="artifact/">
                    <div class="panel-footer">
                        <span class="pull-left">
                            <p>
                                {% trans 'Documents' %}: {{ total_file_artifacts }}&nbsp;&nbsp;
                            {% trans 'Source Code' %}: {{ total_source_artifacts }}&nbsp;&nbsp;
                            {% trans 'Activities' %}: {{ total_activities }}
                            </p>
                        </span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- div.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>{{ userstory.code }} - {{ userstory.title }} - {% trans 'Details' %}</div>
                    <div align="right">
                        <a href="../update/" class="btn btn-primary btn-circle"><i class="fa fa-edit"></i> {% trans 'Edit' %}</a>
                        <a href="../delete/" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i> {% trans 'Delete' %}</a>
                        <a href="history/" class="btn btn-default btn-circle"><i class="fa fa-list"></i> {% trans 'History' %}</a>
                        <a href="graph/" class="btn btn-default btn-circle"><i class="fa  fa-share-alt"></i> {% trans 'Graph' %}</a>
                    </div>
                </div>
                <div class="panel-body">
                    <p><strong>{%  trans 'Title' %}:</strong> {{ userstory.title }}</p>
                    <p><strong>{% trans 'Description' %}:</strong> {{ userstory.description }}</p>
                    <p><strong>{% trans 'Acceptance Criteria' %}:</strong></br> {{ userstory.acceptanceCriteria|linebreaksbr }}</p>
                    <br/><br/>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {%  trans 'Tasks Effort (Hours)' %}
                </div>
                <div class="panel-body"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                    <canvas id="graph_taks_force_per_userstory_json" width="523" height="263" style="background: white; width: 523px; height: 163px;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {%  trans 'Story Points' %}
                </div>
                <div class="panel-body"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                    <canvas id="sp_per_userstory_json" width="523" height="263" style="background: white; width: 523px; height: 163px;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
             <div class="panel panel-default">
                <div class="panel-heading">
                    {%  trans 'Bussiness Value' %}
                </div>
                <div class="panel-body"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                    <canvas id="bv_per_userstory_json" width="523" height="263" style="background: white; width: 523px; height: 163px;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- div.row -->

       <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>{{ userstory.code }} - {{ userstory.title }} - {%  trans 'Sprints' %}</div>
                </div>
                <div class="panel-body">
                     <div class="list-group">
                    {%  for row in userstory.sprintuserstory_set.all %}
                            <a href="{% url 'main:sprint-details'  row.sprint.id  %}" class="list-group-item"> <i class="fa fa-list-alt fa-1x"></i> {{ row.sprint.title }} ({{ row.get_status_display }})</a></a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

       <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>{{ userstory.code }} - {{ userstory.title }} - {% trans 'Requeriments' %}</div>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                    {%  for row in userstory.requeriment.all %}
                            <a href="{% url 'main:requeriment-details'  row.id  %}" class="list-group-item"> <i class="fa fa-list-alt fa-1x"></i> {{ row.code }} - {{ row.title }}</a></a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}