{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <script src="{% static 'js/arbor/arbor.js' %}"></script>
    <script src="{% static 'js/arbor/graphics.js' %}"></script>
    <script src="{% static 'js/arbor/renderer.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Selected UserStory -->
     <div class="u{{ userstory.id }}" style="display: none;background-color: green" align="center">
            <a href="{% url 'main:userstory-graph' userstory.id %}" style="color: white">{{ userstory.code }}
                - {{ userstory.title }}</a>
     </div>
    {% for requeriment in userstory.requeriment_set.all %}
        <div class="u{{ requeriment.id }}"
             style="background-color: black"
             align="center">
            <a href="{% url 'main:requeriment-details' requeriment.id %}" style="color: white">{{ requeriment.code }}
                - {{ requeriment.title }}</a>
        </div>
    {% endfor %}

    {% for artifact in userstory.artifact_set.all %}
        <div class="artifact{{ artifact.pk }}" style="display: none;background-color: blue" align="center">
            <a href="#" style="color: white">{{ artifact.type.trace_code }}
                - {{ artifact.type.name }}</a>
        </div>
    {% endfor %}



    <canvas id="viewport" width="1000" height="600"></canvas>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            {% for requeriment in userstory.requeriment_set.all %}
                $('.r{{ requeriment.id }}').hide()
            {% endfor %}
            {% for artifact in userstory.artifact_set.all %}
                 $('.artifact{{ artifact.pk }}').hide()
            {% endfor %}






            var sys = arbor.ParticleSystem(1000, 600, 0.5);
            sys.parameters({gravity: true});
            sys.renderer = Renderer("#viewport");
            /* Userstory */
            var u{{ userstory.id }} = sys.addNode('{{ userstory.code }}', {
                    'id': 'u{{ userstory.id }}',
                    'color': 'black',
                    'shape': 'square',
                    'label': '{{ userstory.code }}'
                });

            /* Requeriments from user story */
             {% for requeriment in userstory.requeriment_set.all %}
                var r{{ requeriment.id }} = sys.addNode('{{ requeriment.code }}', {
                    'id': 'r{{ requeriment.id }}',
                    'color': 'red',
                    'shape': 'dot',
                    'label': '{{ requeriment.code }}'
                });
                sys.addEdge(r{{ requeriment.id }}, u{{ userstory.id }}, {directed: false, weight: 3});
            {% endfor %}

            /* Artifact from userstory */
            {% for artifact in userstory.artifact_set.all %}
                var artifact{{ artifact.pk }} = sys.addNode('{{ artifact.pk }}', {
                    'id': 'artifact{{ artifact.pk }}',
                    'color': 'blue',
                    'shape': 'square',
                    'label': '{{ artifact.type.trace_code }}'
                });
                sys.addEdge(r{{ userstory.id }}, artifact{{ artifact.pk }}, {directed: false, weight: 3});
            {% endfor %}


            $("#viewport").click(function (e) {
                var pos = $(this).offset();
                var p = {x: e.pageX - pos.left, y: e.pageY - pos.top}
                selected = nearest = dragged = sys.nearest(p);

                $('.u{{ userstory.id }}').hide()
                {% for requeriment in userstory.requeriment_set.all %}
                    $('.u{{ requeriment.id }}').hide()
                {% endfor %}
                {% for artifact in userstory.artifact_set.all %}
                     $('.artifact{{ artifact.pk }}').hide()
                {% endfor %}

                if (selected.node !== null) {
                    $('.' + selected.node.data.id).show('fast')
                    //alert(selected.node._id)
                    //alert(selected.node.data.link)
                }
                return false;
            });


        });
    </script>



{% endblock %}