<!--
#template:US007
-->
{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1 class="page-header"><i class="fa fa-list-alt fa-1x"></i> Requeriment Change History</h1>

    <div class="row">


         <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{%   trans 'Code' %}</th>
                        <th>{%   trans 'Title' %}</th>
                        <th>{%   trans 'description' %}</th>
                        <th>{%   trans 'Story Points (Planned)' %}</th>
                        <th>{%   trans 'Story Points (Realized)' %}</th>
                        <th>{%   trans 'Businnes Value (Planned)' %}</th>
                        <th>{%   trans 'Businnes Value (Realized)' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in object_list %}
                        <tr>
                        <td>{{ row.code }}</td>
                        <td>{{ row.title }}</td>
                        <td>{{ row.description }}</td>
                        <td>{{ row.storypoints_planned }}</td>
                        <td>{{ row.storypoints_realized}}</td>
                        <td>{{ row.bussinessvalue_planned }}</td>
                        <td>{{ row.bussinessvalue_realized}}</td>
                        </tr>
                        {% empty %}
                        <tr><td colspan="7">{% trans 'No changes' %}</td></tr>
                    {% endfor %}
                    </tbody>
        </table>

    </div>
{% endblock %}