<!--
#template:US006
-->
{% extends "base.html" %}
{% load i18n %}

{% block head %}
    <script>
        $(document).ready(function () {
            var ctx = document.getElementById('graph_taks_force_per_userstory_json').getContext('2d');
               {%  for task in task_force_per_userstory %}
                        task_percentual = {% if  task.estimated_time %}100*({{ task.realizated_time }}-{{ task.estimated_time }})/{{ task.estimated_time }} {% else %}0{% endif %}
               {% endfor %}
               {%  for sp in storypoint_per_sprint %}
                        sp_percentual = {% if  task.estimated %}100*({{ task.realizated }}-{{ task.estimated }})/{{ task.estimated }} {% else %}0{% endif %}
               {% endfor %}

            if(task_percentual > sp_percentual){
                maiorValor = task_percentual;
            }else{
                maiorValor = sp_percentual;
            }
            var graph_taks_force_per_userstory_json = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['{% trans '% Task Effort Variation' %}','{% trans '% Points Variation' %}'],
                    datasets: [{
                        data: [task_percentual, sp_percentual],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255,99,132,1)',
                        ],
                        borderWidth: 1,
                        tension: 0,
                        fill: false
                    }, ],
                },
               options: {

                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: maiorValor+2,
                                beginAtZero: true
                            },
                            id: "1"
                        }]
                    },
                    legend: {
                        display: false
                    },
                    animation: {
                        duration: 1,
                        onComplete: function () {
                            var chartInstance = this.chart,
                                ctx = chartInstance.ctx;
                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = 'rgba(0, 0, 0, 1)';

                            this.data.datasets.forEach(function (dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function (bar, index) {
                                    var data = dataset.data[index];
                                    ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                });
                            });
                        }
                    }
                }
            });


        });
    </script>
{% endblock %}

{% block content %}
    <h1 class="page-header"><i class="fa fa-stumbleupon-circle fa-1x"></i> {{ sprint.title }}</h1>

    <div class="row">


        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-list-alt fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ num_requeriment }}</div>
                            <div>{% trans 'Requeriments' %}</div>
                        </div>
                    </div>
                </div>
                <a href="requeriment/">
                    <div class="panel-footer">
                        <span class="pull-left">{% trans 'View Details' %}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ num_userstories }}</div>
                            <div>{% trans 'User Stories' %}</div>
                        </div>
                    </div>
                </div>
                <a href="userstory/">
                    <div class="panel-footer">
                        <span class="pull-left">{% trans 'View Details' %}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-code fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ total_artifacts }}</div>
                            <div>{% trans 'Artifacts' %}</div>
                        </div>
                    </div>
                </div>
                <a href="artifact/">
                    <div class="panel-footer">
                        <span class="pull-left">{% trans 'View Details' %}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- div.row -->


    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ sprint.title }}: {%  trans 'Points x Tasks Effort (% of variation)' %}
                </div>
                <div class="panel-body">
                    <canvas id="graph_taks_force_per_userstory_json" width="80" height="25"
                            style="background: white"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>{{ sprint.title }} {% trans 'Details' %}</div>
                    <div align="right">
                        <a href="update/" class="btn btn-primary btn-circle"><i class="fa fa-edit"></i> Edit</a>
                        <a href="delete/" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i> Delete</a>
                        <a href="history/" class="btn btn-default btn-circle" ><i class="fa fa-list"></i> History</a>
                    </div>
                </div>
                <div class="panel-body">

                    <p>{% trans 'Title' %}: {{ sprint.title }}</p>
                    <p>{% trans 'Status' %}: {{ sprint.get_status_display }}</p>
                    <p>{%  trans 'Begin' %}: {{ sprint.begin }}</p><p>End: {{ sprint.end }}</p>


                    <br/><br/>
                </div>
            </div>
        </div>
    </div>

      <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ sprint.title }}: {%  trans 'UserStories' %}
                </div>
                <div class="panel-body">
                     <table class="table table-hover" id="myList">
                    <thead>
                        <th>{% trans 'Userstory' %}</th>
                        <th>{% trans 'Status' %}</th>
                    </thead>
                    <tbody>
                    {% for row in sprint.sprintuserstory_set.all %}
                        <tr>
                            <td>{{ row.userstory }}</td>
                            <TD>{{ row.get_status_display }}</TD>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>

{% endblock %}