<!--
#template:US006
-->
{% extends "base.html" %}
{% load i18n %}

{% block head %}

{% endblock %}

{% block content %}
    <h1 class="page-header"><i class="fa fa-stumbleupon-circle fa-1x"></i> {{ sprint.title }}</h1>

    <div class="row">


        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-list-alt fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ num_requeriment }}</div>
                            <div>{% trans 'Requeriments' %}</div>
                        </div>
                    </div>
                </div>
                <a href="requeriment/">
                    <div class="panel-footer">
                        <span class="pull-left">{% trans 'View Details' %}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ num_userstories }}</div>
                            <div>{% trans 'User Stories' %}</div>
                        </div>
                    </div>
                </div>
                <a href="userstory/">
                    <div class="panel-footer">
                        <span class="pull-left">{% trans 'View Details' %}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-code fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ total_artifacts }}</div>
                            <div>{% trans 'Artifacts' %}</div>
                        </div>
                    </div>
                </div>
                <a href="artifact/">
                    <div class="panel-footer">
                        <span class="pull-left">{% trans 'View Details' %}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- div.row -->


    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ sprint.title }}:
                </div>
                <div class="panel-body">
                    <P><strong>{%  trans 'Tasks Effort (Hours)' %}</strong>
                        {%  for task in task_force_per_userstory %}
                            <BR/>{%  trans 'Planned' %}: {{ task.estimated_time }}<BR/> {%  trans 'Realized' %}: {{ task.realizated_time }}</P>
                        {% endfor %}

                    <P><strong>{%  trans 'Points' %}</strong>
                        {%  for sp in storypoint_per_sprint %}
                            <BR/>{%  trans 'Planned' %}: {{ sp.estimated }}<BR/> {%  trans 'Realized' %}: {{ sp.realized }}</P>
                        {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>{{ sprint.title }} {% trans 'Details' %}</div>
                    <div align="right">
                        <a href="update/" class="btn btn-primary btn-circle"><i class="fa fa-edit"></i> Edit</a>
                        <a href="delete/" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i> Delete</a>
                        <a href="history/" class="btn btn-default btn-circle" ><i class="fa fa-list"></i> History</a>
                    </div>
                </div>
                <div class="panel-body">

                    <p>{% trans 'Title' %}: {{ sprint.title }}</p>
                    <p>{% trans 'Status' %}: {{ sprint.get_status_display }}</p>
                    <p>{%  trans 'Begin' %}: {{ sprint.begin }}</p><p>End: {{ sprint.end }}</p>


                    <br/><br/>
                </div>
            </div>
        </div>
    </div>

      <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ sprint.title }}: {%  trans 'UserStories' %}
                </div>
                <div class="panel-body">
                     <table class="table table-hover" id="myList">
                    <thead>
                        <th>{% trans 'Userstory' %}</th>
                        <th>{% trans 'Status' %}</th>
                        <th>{% trans 'Action' %}</th>
                    </thead>
                    <tbody>
                    {% for row in sprint.sprintuserstory_set.all %}
                        <tr>
                            <td>{{ row.userstory }}</td>
                            <TD>{{ row.get_status_display }}</TD>
                            <td><a href="userstory/{{ row.id }}/detail/" class="btn btn-success btn-circle"><i class="fa fa-play-circle"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>

{% endblock %}