{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <script src="{% static 'js/arbor/arbor.js' %}"></script>
    <script src="{% static 'js/arbor/graphics.js' %}"></script>
    <script src="{% static 'js/arbor/renderer.js' %}"></script>
{% endblock %}

{% block content %}
      {% for requeriment in requeriments %}
        <div id="d{{ requeriment.id }}" style="display: none;background-color: red" align="center">
            <a href="{% url 'main:requeriment-graph' requeriment.id %}" style="color: white">{{ requeriment.code }} - {{ requeriment.title }}</a>
        </div>
    {% endfor %}
    <canvas id="viewport" width="1000" height="600"></canvas>
    <script language="javascript" type="text/javascript">
           $(document).ready(function() {
               var sys = arbor.ParticleSystem(1000, 600, 0.5);
               sys.parameters({gravity: true});
               sys.renderer = Renderer("#viewport");
               {% for requeriment in requeriments %}
                   {% if requeriment.type == 0 %}
                        var r{{ requeriment.id }} = sys.addNode('{{ requeriment.code }}',{'id':'{{ requeriment.id }}','color':'red','shape':'dot','label':'{{ requeriment.code }}'});
                   {% else %}
                        var r{{ requeriment.id }} = sys.addNode('{{ requeriment.code }}',{'id':'{{ requeriment.id }}','color':'#d4531e','shape':'dot','label':'{{ requeriment.code }}'});
                   {% endif %}
                {% endfor %}

                {% for requeriment in requeriments %}
                    {% for depend in requeriment.depends_on.all %}
                        sys.addEdge(r{{ requeriment.id }}, r{{ depend.id }}, { directed: true, weight:3 });
                    {% endfor %}
                {% endfor %}

                $("#viewport").click(function(e){
                    var pos = $(this).offset();
                    var p = {x:e.pageX-pos.left, y:e.pageY-pos.top}
                    selected = nearest = dragged = sys.nearest(p);

                    {% for requeriment in requeriments %}
                        $('#d{{ requeriment.id }}').hide()
                    {% endfor %}

                    if (selected.node !== null){
                        $('#d'+selected.node.data.id).show('fast')
                         //alert(selected.node._id)
                        //alert(selected.node.data.link)
                    }
                    return false;
                  });




           });
    </script>


{% endblock %}